<!-- FIXME: this should be adapted to generator v2 stuff -->
<h1>{{ "generator" | i18n }}</h1>
<app-callout type="info" *ngIf="policyInEffect$ | async">
  {{ "passwordGeneratorPolicyInEffect" | i18n }}
</app-callout>
<form [formGroup]="optionsGroup" (ngSubmit)="copy()" class="tw-container">
  <!-- <div class="card card-generated bg-light my-4">
    <div class="card-body">
      <bit-color-password
        [password]="password$ | async"
        [appCopyText]="password$ | async"
      ></bit-color-password>
    </div>
  </div> -->
  <bit-form-field>
    <bit-label>{{ "length" | i18n }}</bit-label>
    <input
      bitInput
      type="number"
      [min]="optionsMinLength$ | async"
      max="128"
      formControlName="length"
      (change)="focusEventTarget($event)"
    />
    <bit-hint>
      <span aria-hidden="true"
        >{{ "passwordMinLength" | i18n }}: {{ optionsMinLength$ | async }}</span
      >
      <span
        class="tw-sr-only"
        attr.aria-label="{{ 'passwordMinLength' | i18n }}:"
        role="status"
        aria-live="polite"
      >
        {{ optionsMinLength$ | async }}
      </span>
    </bit-hint>
  </bit-form-field>
  <bit-form-control>
    <input bitCheckbox type="checkbox" formControlName="avoidAmbiguous" />
    <bit-label>{{ "ambiguous" | i18n }}</bit-label>
  </bit-form-control>
  <bit-form-control>
    <input
      bitCheckbox
      type="checkbox"
      formControlName="uppercase"
      [disabled]="useUppercaseInEffect$ | async"
    />
    <bit-label>{{ "uppercase" | i18n }}</bit-label>
  </bit-form-control>
  <bit-form-control>
    <input
      bitCheckbox
      type="checkbox"
      formControlName="lowercase"
      [disabled]="useLowercaseInEffect$ | async"
    />
    <bit-label>{{ "lowercase" | i18n }}</bit-label>
  </bit-form-control>
  <bit-form-control>
    <input
      bitCheckbox
      type="checkbox"
      formControlName="numbers"
      [disabled]="useNumbersInEffect$ | async"
    />
    <bit-label>{{ "numbers" | i18n }}</bit-label>
  </bit-form-control>
  <bit-form-field class="form-group col-4">
    <bit-label>{{ "minNumbers" | i18n }}</bit-label>
    <input
      bitInput
      type="number"
      min="0"
      max="9"
      formControlName="minNumber"
      (change)="focusEventTarget($event)"
    />
  </bit-form-field>
  <bit-form-control>
    <input
      bitCheckbox
      type="checkbox"
      formControlName="special"
      [disabled]="useSpecialInEffect$ | async"
    />
    <bit-label>{{ "specialCharacters" | i18n }}</bit-label>
  </bit-form-control>
  <bit-form-field class="form-group col-4">
    <bit-label>{{ "minSpecial" | i18n }}</bit-label>
    <input
      bitInput
      type="number"
      min="0"
      max="9"
      formControlName="minSpecial"
      (change)="focusEventTarget($event)"
    />
  </bit-form-field>
</form>
