<div class="page-header">
  <h1>{{ "generator" | i18n }}</h1>
</div>
<app-callout type="info" *ngIf="policyInEffect$ | async">
  {{ "passwordGeneratorPolicyInEffect" | i18n }}
</app-callout>
<form [formGroup]="optionsGroup" (ngSubmit)="copy()">
  <div class="card card-generated bg-light my-4">
    <div class="card-body">
      <bit-color-password
        [password]="password$ | async"
        [appCopyText]="password$ | async"
      ></bit-color-password>
    </div>
  </div>
  <div class="row">
    <bit-form-field class="form-group col-4">
      <bit-label>{{ "length" | i18n }}</bit-label>
      <input
        bitInput
        id="length"
        type="number"
        [min]="optionsMinLength$ | async"
        max="128"
        formControlName="length"
        (change)="focusEventTarget($event)"
      />
    </bit-form-field>
    <bit-form-field class="form-group col-4">
      <span aria-hidden="true">{{ "passwordMinLength" | i18n }}</span>
      <span aria-hidden="true">{{ optionsMinLength$ | async }}</span>
      <span
        class="sr-only"
        attr.aria-label="{{ 'passwordMinLength' | i18n }}"
        role="status"
        aria-live="polite"
      >
        {{ optionsMinLength$ | async }}
      </span>
    </bit-form-field>
    <bit-form-field class="form-group col-4">
      <bit-label>{{ "minNumbers" | i18n }}</bit-label>
      <input
        bitInput
        id="min-number"
        type="number"
        min="0"
        max="9"
        formControlName="minNumber"
        (change)="focusEventTarget($event)"
      />
    </bit-form-field>
    <bit-form-field class="form-group col-4">
      <bit-label>{{ "minSpecial" | i18n }}</bit-label>
      <input
        bitInput
        id="min-special"
        type="number"
        min="0"
        max="9"
        formControlName="minSpecial"
        (change)="focusEventTarget($event)"
      />
    </bit-form-field>
  </div>
  <label class="d-block">{{ "options" | i18n }}</label>
  <div class="form-group">
    <div class="form-check">
      <input
        bitInput
        id="uppercase"
        type="checkbox"
        formControlName="uppercase"
        [disabled]="useUppercaseInEffect$ | async"
        attr.aria-label="{{ 'uppercase' | i18n }}"
      />
      <label for="uppercase" class="form-check-label">{{ "uppercase" | i18n }}</label>
    </div>
    <div class="form-check">
      <input
        bitInput
        id="lowercase"
        type="checkbox"
        formControlName="lowercase"
        [disabled]="useLowercaseInEffect$ | async"
        attr.aria-label="{{ 'lowercase' | i18n }}"
      />
      <label for="lowercase" class="form-check-label">{{ "lowercase" | i18n }}</label>
    </div>
    <div class="form-check">
      <input
        bitInput
        id="numbers"
        type="checkbox"
        formControlName="number"
        [disabled]="useNumbersInEffect$ | async"
        attr.aria-label="{{ 'numbers' | i18n }}"
      />
      <label for="numbers" class="form-check-label">{{ "numbers" | i18n }}</label>
    </div>
    <div class="form-check">
      <input
        bitInput
        id="special"
        type="checkbox"
        formControlName="special"
        [disabled]="useSpecialInEffect$ | async"
        attr.aria-label="{{ 'specialCharacters' | i18n }}"
      />
      <label for="special" class="form-check-label">{{ "specialCharacters" | i18n }}</label>
    </div>
    <div class="form-check">
      <input bitInput id="ambiguous" type="checkbox" formControlName="avoidAmbiguous" />
      <label for="ambiguous" class="form-check-label">{{ "ambiguous" | i18n }}</label>
    </div>
  </div>
</form>
