<div *ngIf="currentAccount$ | async as currentAccount">
  <button
    type="button"
    class="tw-rounded-full hover:tw-outline hover:tw-outline-1 hover:tw-outline-offset-1"
    (click)="currentAccountClicked()"
  >
    <span class="tw-sr-only">{{ "switchAccounts" | i18n }}:</span>
    <span class="tw-sr-only">{{ "activeAccount" | i18n }} {{ currentAccount.name }}</span>
    <bit-avatar
      [id]="currentAccount.id"
      [text]="currentAccountName$ | async"
      size="medium"
      aria-hidden="true"
    ></bit-avatar>
  </button>
</div>
