<div class="tw-mr-[5px] tw-mt-1">
  <div *ngIf="currentAccount$ | async as currentAccount; else defaultButton">
    <bit-avatar
      [id]="currentAccount.id"
      [text]="currentAccount.name"
      [color]="currentAccount.avatarColor"
      [isButton]="true"
      size="small"
      aria-hidden="true"
      (click)="currentAccountClicked()"
    >
      <span class="tw-sr-only">{{ "switchAccounts" | i18n }}:</span>
      <span class="tw-sr-only">{{ "activeAccount" | i18n }} {{ currentAccount.email }}</span>
    </bit-avatar>
  </div>
  <ng-template #defaultButton>
    <bit-avatar
      [text]="'&hellip;'"
      [color]="'#175DDC'"
      [isButton]="true"
      size="small"
      aria-hidden="true"
      routerLink="/account-switcher"
    >
      <span class="tw-sr-only">{{ "switchAccounts" | i18n }}</span>
    </bit-avatar>
  </ng-template>
</div>
