<form [formGroup]="formGroup">
  <bit-dialog dialogSize="large">
    <ng-container bitDialogTitle>
      {{ "moveToProject" | i18n }}
    </ng-container>
    <div bitDialogContent class="tw-relative">
      <bit-form-field class="tw-mb-0 tw-mt-3">
        <bit-label>{{ "project" | i18n }}</bit-label>
        <bit-select bitInput name="project" formControlName="project">
          <bit-option value="" [label]="'selectPlaceholder' | i18n"></bit-option>
          <bit-option *ngFor="let p of projects" [value]="p.id" [label]="p.name"></bit-option>
        </bit-select>
      </bit-form-field>
      <ng-container *ngIf="summary$ | async as summary">
        <bit-callout type="warning" role="alert" *ngIf="summary != null">
          {{ summary }}
        </bit-callout>
      </ng-container>
    </div>
    <ng-container bitDialogFooter>
      <button
        type="button"
        bitButton
        buttonType="primary"
        [bitAction]="move"
        [disabled]="formGroup.invalid"
      >
        {{ "move" | i18n }}
      </button>
      <button type="button" bitButton buttonType="secondary" bitDialogClose>
        {{ "close" | i18n }}
      </button>
    </ng-container>
  </bit-dialog>
</form>
