<form [formGroup]="formGroup" [bitSubmit]="move">
  <bit-dialog dialogSize="large">
    <ng-container bitDialogTitle>
      {{ "moveToProject" | i18n }}
      <span class="tw-text-sm tw-text-muted"
        >{{ secretsCount }}
        {{ (secretsCount === 1 ? "secret" : "secrets") | i18n | lowercase }}</span
      >
    </ng-container>
    <div bitDialogContent class="tw-relative">
      <bit-callout type="warning">
        {{ "bulkMoveToProjectCallout" | i18n }}
      </bit-callout>
      <bit-form-field class="tw-mb-0 tw-mt-3">
        <bit-label>{{ "project" | i18n }}</bit-label>
        <bit-select bitInput name="project" formControlName="project">
          <bit-option value="" [label]="'selectPlaceholder' | i18n"></bit-option>
          <bit-option *ngFor="let p of projects" [value]="p.id" [label]="p.name"></bit-option>
        </bit-select>
      </bit-form-field>
      <ng-container *ngIf="selectedProjectId$ | async as selectedProjectId">
        <bit-table *ngIf="selectedProjectId != null" [dataSource]="dataSource">
          <ng-container header>
            <tr>
              <th bitCell>{{ "secret" | i18n }}</th>
              <th bitCell>{{ "currentProject" | i18n }}</th>
              <th></th>
              <th bitCell>{{ "moveTo" | i18n }}</th>
            </tr>
          </ng-container>
          <ng-template body let-rows$>
            <tr bitRow *ngFor="let secret of rows$ | async">
              <td bitCell>
                {{ secret.name }}
              </td>
              <td bitCell>
                <span
                  *ngIf="secret.currentProject === undefined"
                  bitBadge
                  badgeType="warning"
                  class="tw-ml-1"
                >
                  <i class="bwi bwi-fw bwi-exclamation-triangle tw-mr-1" aria-hidden="true"></i>
                  {{ "unassigned" | i18n }}
                </span>
                <span
                  *ngIf="secret.currentProject !== undefined"
                  bitBadge
                  badgeType="secondary"
                  class="tw-ml-1"
                  [title]="secret.currentProject"
                >
                  {{ secret.currentProject | ellipsis: 32 }}
                </span>
              </td>
              <td class="tw-items-start">
                <span>
                  <i class="bwi bwi-fw bwi-lg bwi-long-arrow-right" aria-hidden="true"></i>
                </span>
              </td>
              <td bitCell>
                <span bitBadge badgeType="secondary" class="tw-ml-1" [title]="secret.moveTo">
                  {{ secret.moveTo | ellipsis: 32 }}
                </span>
              </td>
            </tr>
          </ng-template>
        </bit-table>
      </ng-container>
    </div>
    <ng-container bitDialogFooter>
      <button
        type="submit"
        bitButton
        bitFormButton
        buttonType="primary"
        [disabled]="formGroup.invalid"
      >
        {{ "save" | i18n }}
      </button>
      <button type="button" bitButton buttonType="secondary" bitDialogClose>
        {{ "cancel" | i18n }}
      </button>
    </ng-container>
  </bit-dialog>
</form>
