<form (submit)="submit()">
  <bit-dialog>
    <span bitDialogTitle>
      {{ "collections" | i18n }}
      <small *ngIf="cipher">{{ cipher.name }}</small>
    </span>
    <ng-container bitDialogContent>
      <p>{{ "collectionsDesc" | i18n }}</p>
      <div class="d-flex">
        <h3>{{ "collections" | i18n }}</h3>
        <div class="ml-auto d-flex" *ngIf="collections && collections.length">
          <button type="button" (click)="selectAll(true)" class="btn btn-link btn-sm py-0">
            {{ "selectAll" | i18n }}
          </button>
          <button type="button" (click)="selectAll(false)" class="btn btn-link btn-sm py-0">
            {{ "unselectAll" | i18n }}
          </button>
        </div>
      </div>
      <div *ngIf="!collections || !collections.length">
        {{ "noCollectionsInList" | i18n }}
      </div>
      <div class="modal-body">
        <bit-table *ngIf="collections && collections.length">
          <ng-template body>
            <tr bitRow *ngFor="let c of collections; let i = index" (click)="check(c)">
              <td bitCell>
                <input
                  type="checkbox"
                  bitCheckbox
                  [(ngModel)]="$any(c).checked"
                  name="Collection[{{ i }}].Checked"
                  appStopProp
                />
              </td>
              <td bitCell>
                {{ c.name }}
              </td>
            </tr>
          </ng-template>
        </bit-table>
      </div>
    </ng-container>
    <ng-container bitDialogFooter>
      <button bitButton buttonType="primary" type="submit">
        <span>{{ "save" | i18n }}</span>
      </button>
      <button bitButton bitDialogClose buttonType="secondary" type="button">
        {{ "cancel" | i18n }}
      </button>
    </ng-container>
  </bit-dialog>
</form>
