<app-side-nav>
  <bit-nav-logo [openIcon]="logo" route="." [label]="'secretsManager' | i18n"></bit-nav-logo>
  <bit-nav-item
    *ngIf="showOnboarding"
    icon="bwi-dashboard"
    [text]="'getStarted' | i18n"
    route="sm-onboarding"
    [relativeTo]="route.parent"
  ></bit-nav-item>
  <org-switcher [filter]="orgFilter" [hideNewButton]="true"></org-switcher>
  <bit-nav-item
    icon="bwi-collection"
    [text]="'projects' | i18n"
    route="projects"
    [relativeTo]="route.parent"
  >
    <div slot="end" *ngIf="isOrgEnabled$ | async">
      {{ organizationCounts?.projects }}
    </div>
  </bit-nav-item>
  <bit-nav-item
    icon="bwi-key"
    [text]="'secrets' | i18n"
    route="secrets"
    [relativeTo]="route.parent"
  >
    <div slot="end" *ngIf="isOrgEnabled$ | async">
      {{ organizationCounts?.secrets }}
    </div>
  </bit-nav-item>
  <bit-nav-item
    icon="bwi-wrench"
    [text]="'machineAccounts' | i18n"
    route="machine-accounts"
    [relativeTo]="route.parent"
  >
    <div slot="end" *ngIf="isOrgEnabled$ | async">
      {{ organizationCounts?.serviceAccounts }}
    </div>
  </bit-nav-item>
  <bit-nav-item
    icon="bwi-providers"
    [text]="'integrations' | i18n"
    route="integrations"
    [relativeTo]="route.parent"
  ></bit-nav-item>
  <bit-nav-item
    icon="bwi-trash"
    [text]="'trash' | i18n"
    route="trash"
    [relativeTo]="route.parent"
    *ngIf="isAdmin$ | async"
  ></bit-nav-item>
  <bit-nav-group
    icon="bwi-cog"
    [text]="'settings' | i18n"
    *ngIf="isAdmin$ | async"
    route="settings/import"
    [relativeTo]="route.parent"
  >
    <bit-nav-item
      [text]="'importData' | i18n"
      route="settings/import"
      [relativeTo]="route.parent"
    ></bit-nav-item>
    <bit-nav-item
      [text]="'exportData' | i18n"
      route="settings/export"
      [relativeTo]="route.parent"
    ></bit-nav-item>
  </bit-nav-group>
  <bit-nav-group icon="bwi-info-circle" [text]="'help' | i18n" [relativeTo]="route.parent">
    <bit-nav-item
      *ngIf="!showOnboarding"
      [text]="'getStarted' | i18n"
      route="sm-onboarding"
      [relativeTo]="route.parent"
    ></bit-nav-item>
    <section class="tw-flex tw-w-full tw-flex-col tw-border-0">
      <a
        href="https://bitwarden.com/help/secrets-manager-quick-start/"
        target="_blank"
        rel="noreferrer"
        class="tw-flex tw-py-2 tw-px-8 tw-font-semibold !tw-text-alt2 !tw-no-underline hover:tw-bg-primary-300/60 [&>:not(.bwi)]:hover:tw-underline"
      >
        <div class="tw-px-3">
          {{ "documentation" | i18n }}
        </div>
      </a>
      <a
        href="https://bitwarden.com/contact/"
        target="_blank"
        rel="noreferrer"
        class="tw-flex tw-py-2 tw-px-8 tw-font-semibold !tw-text-alt2 !tw-no-underline hover:tw-bg-primary-300/60 [&>:not(.bwi)]:hover:tw-underline"
      >
        <div class="tw-px-3">
          {{ "contactSMSupport" | i18n }}
        </div>
      </a>
    </section>
  </bit-nav-group>
</app-side-nav>
