<div class="modal fade" role="dialog" aria-modal="true" aria-labelledby="generatorTitle">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h1 class="modal-title" id="generatorTitle">Generator</h1>
        <tools-ssh-generator />
      </div>
      <div class="modal-footer">
        <button type="button" class="primary">
          <i class="bwi bwi-lg bwi-fw bwi-check" aria-hidden="true"></i>
        </button>
        <button type="button" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
